{% extends 'base.html' %}

{% block content %}
<h1>Welcome to QuantCore</h1>
<p>This software is currently under development and will be developed to help users with their financial management. Users will be able to plan their portfolios using several risk analysis and forecasting tools. If you haven't already, please <a href="{% url 'settings-view' %}">configure the software here</a>.</p>

{% if messages %}
    <div class="alert alert-info">
        <ul class="mb-0">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<h2>Quantcore Home</h2>
{% endblock %}